<div class="game-container">
  <nz-card nzTitle="{{title}}" [nzExtra]="extraTemplate">
    <div class="game-info">
      <p>Ходов: {{moves}}</p>
      <p *ngIf="gameWon" class="win-message">Вы выиграли!</p>
    </div>

    <div class="bolts-container">
      <div
        *ngFor="let bolt of bolts; let i = index"
        class="bolt"
        cdkDropList
        [id]="i.toString()"
        [cdkDropListData]="bolt.nuts"
        (cdkDropListDropped)="onDrop($event)"
        [cdkDropListConnectedTo]="getConnectedBolts(i)"
        [class.empty]="bolt.nuts.length === 0"
      >
        <div class="bolt-counter">
          {{bolt.nuts.length}}/{{MAX_NUTS_PER_BOLT}}
        </div>
        <div class="bolt-rod" [style.background]="bolt.color"></div>
        <div class="bolt-base"></div>
        <div class="bolt-head"></div>

        <div class="nuts-stack">
          <div
            *ngFor="let nut of bolt.nuts; let last = last"
            class="nut"
            cdkDrag
            [cdkDragData]="nut"
            [style.background]="nut.color"
            [style.boxShadow]="'0 4px 8px ' + nut.shadowColor"
            [@nutAnimation]
            [cdkDragDisabled]="!last"
          >
            <div class="nut-hole"></div>
          </div>
        </div>
      </div>
    </div>
  </nz-card>
</div>

<ng-template #extraTemplate>
  <button nz-button nzType="primary" (click)="startNewGame()">
    <span nz-icon nzType="reload"></span> Новая игра
  </button>
</ng-template>
